# Directories
.github
node_modules
__tests__
coverage
dist
build
logs

# Configuration Files
.babelrc
.eslintrc
.eslintignore
.eslintrc.back.js
.eslintrc.front.js
.eslintrc.js
.prettierignore
.prettierrc.js
.DS_Store

# Development Files
Dockerfile
jest.setup.js
docs

# Miscellaneous
npm-debug.log
yarn-error.log
*.log
*.swp
jsconfig.json
Contributing.md
